body {
	min-width: 1440px;
  min-height: 2476px;
	margin:0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	position: relative;
}

.main-navigation {
	display: flex;
 	flex-direction: row;
	justify-content: space-around; 	
	width: 1400px;
	margin: 0 auto;
	padding: 0 20px;

	background-color: #eeeeee;

	font-size: 16px;
	line-height: 30px;	
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.main-header-logo {
	margin-top: 48px;
	margin-left: 19px; 
  width: 250px;
}

.main-header-logo:hover {
	color: #303030;
}

.main-header-logo:focus {
	color: #a6a6a6;
}

.site-navigation,
.user-navigation {
	list-style: none;
	margin-top: 65px;
	margin-right: -18px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 650px;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.user-navigation {
	display: flex;
	max-width: 140px;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 10px 23px;
	vertical-align: middle;
	color: #283136;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current::after {
	content: "";

	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;

	height: 2px;

	background-color: #fb565a;
}

.user-navigation .user-bay { 
 	position: relative;
 	padding-left: 40px;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.user-bay::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 4px;

  width: 16px;
  height: 18px;

  background-image: url("img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;
}

.site-navigation a:active,
.user-navigation a:active {
	text-decoration: underline;
	color: rgba(0, 0, 0, 0.3);
}

.container {
	width: 1200px;
	margin: -15px auto 0 auto;
	padding: 0 20px;
	box-sizing: border-box;

  list-style: none;
}

.feature {
	position: relative;

	margin-bottom: 80px;

	background-color: #eeeeee;
}

.feature-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.feature-controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.feature-controls label::after {
	content: "";

	position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

	width: 18px;
  height: 18px;
  
  background: #ffffff;

  border-radius: 50%;
}

.container-feature {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.main-feature {
	display: none;
	padding: 76px 0 80px 0;
}

.main-feature:nth-child(1) {
  background-image: url("img/feature1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.main-feature:nth-child(2) {
  background-image: url("img/feature2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.main-feature:nth-child(3) {
  background-image: url("img/feature3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .container-feature .main-feature:nth-child(1) {
  display: block;
}

#product-2:checked ~ .container-feature .main-feature:nth-child(2) {
  display: block;
}

#product-3:checked ~ .container-feature .main-feature:nth-child(3) {
  display: block;
}

#product-1:checked ~ .feature-controls .feature-controls-main--1::before,
#product-2:checked ~ .feature-controls .feature-controls-main--2::before,
#product-3:checked ~ .feature-controls .feature-controls-main--3::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.main-feature h3 {
	max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.main-feature p {
	max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
	display: block;
	width: 240px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border:none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.minicatalog {
	margin-bottom: 100px;
}

.minicatalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	padding: 14px 0;
	margin: 0;
	margin-bottom: 25px;

  list-style: none;
}

.minicatalog-item {
	width: 300px;

	padding: 0;
	padding-right: 62px;
	margin: 0;
	margin-bottom: 10px;
 	list-style: none;
}

.minicatalog-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;

	margin-bottom: 16px;
}

.minicatalog-item .button {
	width: 160px;

	margin-top: 35px;
}

.minicatalog-item:nth-child(2) .button {
	background-color: #00ca74;
}

.minicatalog-item:nth-child(2) .button:hover {
	background-color: #00bc6c;
}

.minicatalog-item:nth-child(2) .button:focus {
	background-color: #00aa62;
}

.minicatalog-item:last-child .button {
	background-color: #ffc84a;
}

.minicatalog-item:last-child .button:hover {
	background-color: #eab534;
}

.minicatalog-item:last-child .button:focus {
	background-color: #e5a722;
}

.about-us {
	display: flex;
	
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-bottom: 50px;
 	
 	list-style: none;
}

.about-us-menu p {
	margin-bottom: 22px;
}

.about-us-text {
	width: 720px;

	list-style: none;
}

.about-us-numbers {
	display: flex;
	flex-wrap: wrap;

	width: 480px;
	padding: 0;
	margin: 0;
	padding-left: 50px;

	list-style: none;
}

.about-us h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;

	margin-bottom: 32px;
}

.about-us h3 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;

	margin-top: 40px;
	margin-bottom: 23px;
}

.about-us-level {
	display: flex;

	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	color: #000000;

	margin-bottom: 15px;
}

.about-us-list {
	display: flex;

	line-height: 18px;
	font-weight: 500;

	margin-bottom: 70px;
}

.about-us-list,
.about-us-level {
	list-style: none;
}

.about-us-project {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	margin-bottom: 120px;

	list-style: none;
}

.about-us-project .super {
	padding-right: 100px;

  position: relative;
}

.about-us-project li:first-child {
	margin-right: 100px;
}

.super::before {
  content: "";

  position: absolute;
  width: 20px;
  height: 50px;

  left: -50px;

	background-image: url("img/div.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-project img {
	opacity: 0.5;
}

.about-us-project img:hover {
	opacity: 1;
}

.about-us-project img:focus {
	opacity: 0.2;
}

.project {
	width: 1300px;
	margin-bottom: 50px;
}

.name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

/*каталог*/
.page-title {
	width: 760px;
	padding: 80px 360px 95px 360px;
	margin: 0 auto;
	margin-bottom: 55px;

	background-color: #eeeeee;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

	border: 2px solid red;
}

.container {
	border: 2px solid green;
}

.filters {
  width: 270px;
  padding-right: 130px;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  
  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
	position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
	width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.grid {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

	border: none;
}

.filter-option {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;

	line-height: 20px;
	color: #283136;

	border: none;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-option:hover + label {
	color: #283136;
}

.filter-option:disabled + label {
	color: #283136;
	opacity: 0.3;
}

.filter-option-radio + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -42px;

  width: 25px;
  height: 25px;
  
  background-image: url("img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  color: #000000;
  opacity: 0.4;
}

.filter-option-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -42px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  color: #000000;
  opacity: 0.4;
}

.filter-option-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;

  width: 24px;
  height: 24px;

  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  color: #000000;
  opacity: 0.4;
}

.filter-option-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -42px;

  width: 24px;
  height: 24px;
  
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  color: #000000;
  opacity: 0.4;
}

.filter-option-radio:hover + label::before,
.filter-option-radio:hover + label::after,
.filter-option-checkbox:hover + label::before,
.filter-option-checkbox:hover + label::after {
  opacity: 1;
}

.filter-option-radio:disabled + label::before,
.filter-option-radio:disabled + label::after {
	opacity: 0.1;
}

.filters .button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#000000;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.filters .button:hover {
	background-color: #dfdfdf;
}

.filters .button:focus {
	color:rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.catalog {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.sort {
	display: flex;

	width: 760px;
	margin: 0;
	padding: 0;

	border: 1px solid blue;
}

.sort h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;

	margin: 0;
	padding: 0;

	color: #000000;
	text-transform: uppercase;
}

.sort-change-1 {
	display: flex;

	width: 360px;
	margin-right: 40px;
	margin-bottom: 49px;
	
	border: 1px solid yellow;	
}

.sort-change-2 {
	display: flex;
	justify-content: flex-start;

	width: 360px;

	border: 1px solid yellow;

	list-style: none;
}

.filter-option,
.sort-type {
	list-style: none;
}

.sort-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 270px;

	margin: 0;
	padding: 0;
	margin-right: 50px;

	border: 1px solid red;
}

.growth1,
.growth2 {
	color: #000000;
}

.growth1 a::after {
	content: "";

	position:absolute;
	right: 320px;
	
	width: 10px;
	height: 10px;

	background-image: url(img/icon-down-dir.svg);
	background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.growth2 a::before {
	content: "";

	position:absolute;
	right: 290px;
	
	width: 10px;
	height: 10px;

	background-image: url(img/icon-up-dir.svg);
	background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;

	color: #000000;

	opacity: 0.2;
}

.sort-type a:hover,
.growth2 a:hover::before,
.growth1 a:hover::after {
	opacity: 0.3;
}

.filter-active a,
.sort-type a:focus,
.sort-type a:active,
.growth2 a:focus::before,
.growth1 a:focus::after,
.growth2 a:active::before,
.growth1 a:active::after	{
	opacity: 1.0;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	
	width: 760px;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;

	list-style: none;
}

.catalog-item {
	display: flex;
	flex-wrap: wrap;

	position: relative;

	width: 358px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.catalog-item:hover .catalog-item-context,
.catalog-item:focus .catalog-item-context {
	z-index: 1;
}


.catalog-item:hover .cap {
	opacity: 1;
}

.catalog-item:hover .cart,
.catalog-item:focus .cart {
	border-top: none;
}

.catalog-item:hover {
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
	display: flex;
	flex-wrap: wrap;
}

.cart {
	border: 1px solid #e9e9e9;
}

.cap {
	width: 360px;
	opacity: 0.12;
}

.catalog-item-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 360px;
  
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;

  background-color: #eeeeee;
}

.catalog-item-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	width: 230px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

	color: #666666;
}

.top-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;

	margin-top: 30px;
	margin-bottom: 23px;

	color: #000000;
}

.content {
	text-align: center;
	margin-bottom: 33px;
}

.catalog-item-context .button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	
	width: 200px;
	margin-bottom: 50px;

	color: #ffffff;

	background-color: #fb565a;
}

.catalog-item-context .button:hover {
	background-color: #e74246;
}

.catalog-item-context .button:focus {
	background-color: #d7373b;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
}

.pagination-item {
	margin-right: 12px;

	background-color: #eeeeee;
}

.pagination-item:last-child {
  margin-right: 0;

  text-transform: uppercase;
}

.pagination-item a {
	display: block;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	padding: 15px 20px;

	color: #000000;
}

.pagination-item:last-child a {
	padding: 15px 70px;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	padding: 13px 18px;

	color: #000000;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.inner-page .main-footer {
	margin-top: 20px;
}

.maps {
	display: flex;
	justify-content: space-between;

	width: 1400px;
	margin: 0 auto;
	padding: 0 120px;
	margin-bottom: 85px;

	background-image: url("img/maps-contact.png");
	background-repeat: no-repeat;
	background-position: top center;

	box-sizing: border-box;

  list-style: none;

  border: 1px solid green;
}

.maps-contacts {
	width: 270px;
	height: 290px;

	padding: 21px 0 0 50px;
	margin-top: 55px;
	margin-bottom: 55px; 

	background-color: #ffffff;
}

.maps-logo {
	margin: 80px 250px auto 0;
	padding: 0;
}

.contacts-button {
	width: 220px;
}

.friends {
	display: flex;
	justify-content: space-between;

}

.footer-contacts {
	margin-bottom: 30px;

	color: #666666;
}

.footer-social {
	width: 260px;

	padding: 0;
	margin: 0;

	border: 1px solid red;
}

.footer-social h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-social p {
	line-height: 22px;
	color: #444444;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: auto 0;

  list-style: none;
}

.list-social-button {
 	list-style: none;
 }

.social-button {
	display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-color: #e1e1e1;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:focus {
  background-color: #d7373b;
}

.social-button:focus path {
  fill: #e37376;
}

.best-friends {
	width: 760px;
	
	padding: 0;
	margin: 0;

	border: 1px solid red;
}

.best-friends h3 {
	font-size: 36px;
	line-height: 36px;

	padding: 0;
	margin: 0;
}

.feedback {
	display: none;
	position: fixed;

	top: 200px;
	left: 50%;

	width: 760px;
	margin-left: -480px;
	padding: 80px 100px;

	background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback h2 {
	margin: 0;
	margin-bottom: 35px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;

	color: #000000;
}

.feedback p {
	display: flex;
	flex-wrap: wrap;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;

	margin: 0;
	
	color: #000000;

	border: 1px solid blue;
}

.feedback-form label {
	width: 100%;

	margin-bottom: 14px;
}

.feedback-form input {
	box-sizing: border-box;
  width: 360px;
  padding: 16px 16px;

	font: inherit;
	font-size: 16px;
	line-height:18px;
	font-weight: 400;
	
	color: rgba(0, 0, 0, 0.5);

	border:1px solid rgba(0, 0, 0, 0.3);
}

.feedback-form input:hover {
	color: rgba(0, 0, 0, 0.5);
	border:1px solid rgba(0, 0, 0, 0.5);
}

.feedback-form input:focus {
	color: #444444;
	border:1px solid #000000;
}

.feedback-form input:invalid {
	color: #e74246;
	border:1px solid #e74246;
}

.modal-1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;	

	margin-bottom: 40px;

	border: 1px solid blue;
}

.modal-2 {
	width: 100%; 

	margin-bottom: 50px;

	border: 1px solid blue;
}

.modal-2 input {
	height: 118px;
	width: 760px;
}

.feedback-close {
	position: absolute;
	top: 90px;
	right: 105px;

	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fb565a;

  opacity: 0.3;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}


.feedback-close:hover::before, 
.feedback-close:hover::after {
  content: "";

  posi tion: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fb565a;
}

.feedback-close:focus::before, 
.feedback-close:focus::after {
  content: "";

  posi tion: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fb565a;
 
  opacity: 0.1;
}



