body {
	margin:0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #fff;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-header-logo:hover {
	color: #303030;
}

.main-header-logo:focus {
	color: #a6a6a6;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;	
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #283136;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0, 0, 0, 0.3);
}

/*!!!!красное подчеркивание!!!!!!!!!!!!!!!!!*/

.site-navigation a:active,
.user-navigation a:active {
	text-decoration: underline;
	color: rgba(0, 0, 0, 0.3);
}

.main-feature h2 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.button {
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #fb565a;
}

.button:hover {
	background-color: #e74246;
}

.button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.catalog-item:nth-child(2) .button {
	background-color: #00ca74;
}

.catalog-item:nth-child(2) .button:hover {
	background-color: #00bc6c;
}

.catalog-item:nth-child(2) .button:focus {
	background-color: #00aa62;
}

.catalog-item:last-child .button {
	background-color: #ffc84a;
}

.catalog-item:last-child .button:hover {
	background-color: #eab534;
}

.catalog-item:last-child .button:focus {
	background-color: #e5a722;
}

.catalog-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.catalog-list {
	list-style: none;
}

.about-us h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.about-us h3 {
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.about-us-level {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	color: #000000;
}

.about-us-list {
	line-height: 18px;
	font-weight: 500;
}
.about-us-list,
.about-us-level {
	list-style: none;
}

.about-us-project {
	list-style: none;
}

.about-us-project img {
	opacity: 0.5;
}

.about-us-project img:hover {
	opacity: 1;
}

.about-us-project img:focus {
	opacity: 0.2;
}

.name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

/*каталог*/
.page-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000;
}

legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.filter-option {
	line-height: 20px;
	color: #283136;
	}

.filter-option:hover + label {
	color: #000000;
}

.filter-option:disabled + label {
	color: rgba(0, 0, 0, 0.3);
}

.filters .button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#000;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.filters .button:hover {
	background-color: #dfdfdf;
}

.filters .button:focus {
	color:rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.sort h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.sort-type a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sort-type a:active {
	color: #283136;
}

.filter-option,
.sort-type,
.sort-growth {
	list-style: none;
}

.catalog-item-title {

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;

	background-color: #eeeeee;
}

.top-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;

}
.inner-page .catalog-item-context .button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #fb565a;
}

.inner-page .catalog-item-context .button:hover {
	background-color: #e74246;
}

.inner-page .catalog-item-context .button:focus {
	background-color: #d7373b;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	font-size: 16px;
	line-height: 18px;
	font-weight:500;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee;

}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus,
.pagination-item a:active{
	color: (0, 0, 0, 0.3);

	background-color: #d5d5d5;
}

.pagination-item-current a {
	font-size: 16px;
	line-height: 18px;
	font-weight:500;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	font-size: 16px;
	line-height: 18px;
	font-weight:500;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
}

.footer-contacts {
	color: #666666;
}

.footer-social h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-social p {
	line-height: 22px;
	color: #444444;
}

.feedback h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.feedback p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.feedback-form input {
	font-size: 16px;
	line-height:18px;
	color: rgba(0, 0, 0, 0.5);

	border:1px solid rgba(0, 0, 0, 0.3);
}

.feedback-form input:hover {
	color: rgba(0, 0, 0, 0.5);
	border:1px solid rgba(0, 0, 0, 0.5);
}
.feedback-form input:focus {
	color: #444444;
	border:1px solid #000000;
}

.feedback-form input:invalid {
	color: #e74246;
	border:1px solid #e74246;
}

.list-social-button {
 	list-style: none;
 }

/*!!!!!!!!!!!!!!!!!!!!*/
.social-button: {
	background-color: red;
}



